/**
* @category Extrembler
* @package Extrembler_PreLogin
* @author  Extrembler <gaurangpadhiyar1993@gmail.com>
*/
div.clear{
    clear: both;
}
.block-login{
  width: 100%;
}
.prelogin-notice,.prelogin-form{
  width: 50%;
}
.prelogin-button{
  float: left;
}
.prelogin-index-index .form-language{
	padding: 10px;
	text-align: center;
}
.prelogin-index-index .wrapper{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}