<?xml version="1.0"?>
<!--
/**
* @category Extrembler
* @package Extrembler_PreLogin
* @author  Extrembler <gaurangpadhiyar1993@gmail.com>
*/
-->
<config>
    <sections>
        <prelogin>
            <label>Pre Login Configuration</label>
            <tab>extrembler</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <about>
                    <frontend_model>extremblerbase/adminhtml_about</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </about>
                <prelogin_enable translate="label">
                    <label>Pre login enable</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_enable translate="label">
                            <label>Enable Pre Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_enable>
                    </fields>
                </prelogin_enable>
                <prelogin_login translate="label">
                    <label>Pre login creditails</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <user translate="label">
                            <label>User name : </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </user>
                        <password translate="label">
                            <label>Password :</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </prelogin_login>
                <prelogin_general translate="label">
                    <label>Pre login form</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>115</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <page_title translate="label">
                            <label>Page Title : </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </page_title>
                        <label translate="label">
                            <label>Login Label : </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </label>
                        <noticeenable translate="label">
                            <label>Enable Notice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noticeenable>
                        <noticeposition translate="label">
                            <label>Login Notice Position: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>prelogin/adminhtml_system_config_source_position</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noticeposition>
                        <notice translate="label">
                            <label>Login Notice : </label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Html Tags are allowed, allowed html tag list find at ReadMe.txt</comment>
                        </notice>
                        <backlogo translate="label comment">
                            <label>Backgrond image</label>
                            <comment>Allowed file types: jpeg, gif, png.</comment>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">theme</upload_dir>
                            <base_url type="media" scope_info="1">theme</base_url>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backlogo>
                        <stylecss>
                            <label>Extra css to style pre login form : </label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add extra css as per your needs</comment>                   
                        </stylecss>
                    </fields>
                </prelogin_general>
                <prelogin_redirect translate="label">
                    <label>After login redirect to</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <prelogin_redirect_url>
                            <label>Redirect to: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>prelogin/adminhtml_system_config_source_redirect</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>After successful login redirect</comment>
                        </prelogin_redirect_url>
                    </fields>
                </prelogin_redirect>
            </groups>
        </prelogin>
    </sections>
</config>